body {
    background-image: url('./images/ground.jpeg');
}

nav {
    max-width: 500px;
    margin: 0 auto;
    background-color: rgba(130, 130, 130, 0.7);
    padding: 15px 0;
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-bottom: 20px;
    border-radius: 15px;
    cursor: pointer;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

nav a:hover {
    text-decoration: underline;
}

nav .active {
    color: black;
    font-weight: 600;
}

.lang {
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 15px;
    padding: 4px 10px;
    background-color: rgb(217, 217, 223);
}

.lang span {
    cursor: pointer;
}

.lang .rus:hover {
    text-shadow: -1px 1px black;
}

.lang .eng:hover {
    text-shadow: -1px 1px black;
}


